html {
  margin: auto;
  hyphens: auto;
  max-width: 80ch;
}

body {
	font-size: 1.1rem;
	font-size: clamp(1.1rem, 1.1rem + 0.25vw, 1.35rem);
	font-family: "Times New Roman", serif;
	padding-left: 1px;
	padding-right: 1px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}


a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
	
a:hover {
	color: red;
}



.sigue {
	font-family: Times, Times New Roman, serif;
    text-align: right;
	font-size: 1.1rem;
    margin-right: 18px;
    margin-top: 0em;
    color: red;
}

.Poesia {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    margin-left: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    text-indent: -1.8em;
}

.Poesia2 {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    font-style: italic;
    margin-left: 1.8em;
}

.TitNormal {
	font-family: Times, Times New Roman, serif;
    text-align: justify;
    margin-left: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-indent: -1.8em;
}

.Normal {
	font-family: Times, Times New Roman, serif;
    text-align: justify;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    margin-left: 1.8em;
}

.Normal_a {
	font-family: Times, Times New Roman, serif;
    text-align: justify;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    margin-left: 0;
}

.indice{
	font-family: Times, Times New Roman, serif;
    text-align: left;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    margin-left: 1.8em;
	text-indent: -1.8em;
    font-size: 1.1rem;
}
.pTit {
	font-family: Times, Times New Roman, serif;
    text-align: center;
    color: blue;
    font-size: 1.2rem;
	font-variant: small-caps;
    font-weight: normal;
    margin-bottom:10px;
    margin-top: 10px;
}

.pT1 {
	font-family: Times, Times New Roman, serif;
    text-align: center;
    color: red;
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom:1.5em;
    margin-top: 0em;
}

.pT2 {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    color: blue;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.pT3 {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    font-style: italic;
    color: blue;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 0.5em;
    margin-left: 1.8em;
}

.pT4 {
	font-family: Times, Times New Roman, serif;
    text-align: center;
    color: green;
	font-size: 0.9rem;
	font-weight: bold;
	margin-bottom: 2em;
	margin-top: 1em;
}

.pT5 {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    color: brown;
    font-weight: normal;
    margin-bottom: 1px;
    margin-top: 1em;
}
.pT5a {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    color: red;
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

.CartaPor {
	font-family: Times, Times New Roman, serif;
    text-align: left;
    margin-left: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-indent: -1.8em;
	color: blue;
}

.Final {
	font-family: Times, Times New Roman, serif;
    text-align: right;
    font-style: italic;
    margin-bottom: 0em;
    margin-top: 0em;
    font-size: 0.8rem;
    color: blue
}

.red {
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
	color: red;
	border-top: 1px solid red;
}
	
.fixedButton {
  position: fixed;
  bottom: 15px;
  right: 2px;
  margin-bottom: 30px;
}


.perTabla {
    font-family: "Times New Roman", Times, serif;
    color: red;
    align: center;
}
	   
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.butXL {
  font: normal 18px Times;
  background-color: orange;
  border: none;
  border-radius: 8px;
  color: white;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.2em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 80%;
}

.pT3but a:link {
  color: white;
}
.pT3but a:visited {
  color: white;
}
.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0em;
  color: brown;
}
