div.sgc-toc-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

div.sgc-toc-level-1 {
    margin-top: 2em;
    line-height: 1.8em;
    margin-left: 0em;

}

div.sgc-toc-level-2 {
    font-size: 0.9em;
    margin-left: 2em;
  text-indent: -20px;
  padding-left: 20px;
    padding-bottom: 5px;
      line-height: 1.1em;
}
div.sgc-toc-level-2::first-letter {
  font-style: normal;
  font-weight: bold;
  color: red;
  margin-right: 0.1em;
}

div.sgc-toc-level-3 {
    margin-left: 2em;
}

div.sgc-toc-level-4 {
    margin-left: 2em;
}

div.sgc-toc-level-5 {
    margin-left: 2em;
}

div.sgc-toc-level-6 {
    margin-left: 2em;
}
