html {
  max-width: 80ch;
  padding: 0.5ch;
  margin: auto;
  color: #333;
  font-size: 1em;
}
.omi {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  padding-left: 2px;
  padding-right: 2px;
}


h1 {
    font-family: "Times New Roman", serif;
    color: black;
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 12pt 0 0
    }


.rubrica {
  font-size: 1em;
  color: red;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.pBloccoLetture {
 	font-family: Times, Times New Roman, serif;
 	color: red;
 	font-size: 1.3em;
 	margin-bottom: 3px;
    margin-left: 2em;
}

p{
 font-family: Times, Times New Roman, serif;
 margin-bottom: 3px;

}

.normal {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  text-align: justify;
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0.2em;
}

.normalend{
    font-family: Times, Times New Roman, serif;
    text-align: justify;
    font-size: 1.1em;
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
}


.pT1{
 font-family: Times, Times New Roman, serif;
 text-align: center;
 font-weight: bold;
 font-size: 1.8em;
 margin-bottom: 24px;
 margin-top: 24px;
 color: red;

}



.p02T1{
 font-family: Times, Times New Roman, serif;
 text-align: center;
 font-weight: bold;
 font-size: 18;
 margin-bottom: 24px;
 }

.pT2{
 font-family: Times, Times New Roman, serif;
 text-align: Center;
 font-weight: bold;
 font-size: 18px;
 margin-top: 0px;
 margin-bottom: 10px;
 color: red;
}

.pSanNombre{
    font-family: Times, Times New Roman, serif;
    text-align: Center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pSanFecha{
    font-family: Times, Times New Roman, serif;
    font-weight: normal;
    text-align: Center;
    font-size: 1.3em;
    color: brown;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 12px;
    margin-bottom: 0.3em;
    border-top: solid 1px;
    padding-top: 0.5em;
}



.pSanComun{
    font-family: Times, Times New Roman, serif;
    font-size: 1em;
    text-align: Center;
    color: red;
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.pSanMem{
    font-family: Times, Times New Roman, serif;
    font-size: medium;
    text-align: Center;
    font-style: italic;
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}


.p05T5{
    font-family: Times, Times New Roman, serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 10px;
    color: Crimson;
}
.p04T4{
    font-family: Times, Times New Roman, serif;
    font-size: medium;
    font-style: italic;
    margin: 0px 0px 2px 0px;
}

.p06Alleluia{
    font-family: Times, Times New Roman, serif;
    font-size: medium;
    font-style: italic;
    margin: 2px 0px 2px 0px;
}

.pLista1{
    font-family: Times, Times New Roman, serif;
    font-size: medium;
    font-weight: normal;
    margin-top: 3px;
    margin-bottom: 0px;
}


.SalmoEtc {
  font-family: Times, Times New Roman, serif;
  font-size: 0.8em;
  font-weight: bold;
  color: red;
  margin-top: 18px;
  margin-bottom: 0;
}

.SalmoEstr {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-weight: bold;
  text-indent: -25px;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 7px;
}
.SalmoEstrib::first-letter {
  font-style: normal;
  font-weight: bold;
  color: red;
  margin-right: 0.1em;
}

.SalmoNum {
  font-family: Times, Times New Roman, serif;
  font-size: small;
  color: red;
  margin-top: 0;
  margin-bottom: 8px;
}

.SalmoTxt {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -13px;
  padding: 0 0 0 20px;
  margin-top: 0;
  margin-bottom: 6px;
}
.SalmoTxt::first-letter {
  font-weight: bold;
  color: red;
  margin-right: 0.05em;
}
.pBloccoLetture{
    font-family: Times, Times New Roman, serif;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0px;
}

.txtItalic {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-style: italic;
  margin-top: 0.2px;
  margin-bottom: 0.1em;
}

.p12TestiItalic2{
    font-family: Times, Times New Roman, serif;
    font-size: medium;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}

.aleluia_r {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
    }

.aleluia {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  text-indent: -20px;
  padding: 0 0 0 20px;
  margin-top: 2px;
  margin-bottom: 2px;

}


.lecturacarta {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}
.p13R{
    font-family: Times, Times New Roman, serif;
    font-size: medium;
    font-weight: bold;
    margin: 2px 0px 2px 0px;
}



.giorni{
 font-family: Times, Times New Roman, serif;
 font-size: small;
 font-weight: normal;
 text-align: center;

}

.red {
  color: red;
  font-weight: bold;
}

.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}
.pT3but a:link {
  color: white;
}

.pLista1 {
    font-family: Times, Times New Roman, serif;
    font-size: 1.1em;
    color: red;
    display: block;
    page-break-after: avoid;
    text-indent: -22.7pt;
    padding: 0;
    margin: 12pt 0 0 22.7pt
    }


.butXL {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  Text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.4em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 40%;

}
.butXL a:link {
  color: white;
}
.butXL a:visited {
  color: white;
}
a:link {
  text-decoration: none;
}
.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}