html {
  margin: auto;
  hyphens: auto;
  max-width: 80ch;;
}
body {
	font-size: 1.1rem;
	font-size: clamp(1.1rem, 1.1rem + 0.25vw, 1.35rem);
	font-family: "Times New Roman", serif;
	padding-left: 1px;
	padding-right: 1px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}


a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
	
a:hover {
	color: red;
}



h1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 0;
  color: red;
}
h2 {
  font-family: Times, Times New Roman, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 1em;
  color: green;
}
h3 {
  padding-top: 0;
  font-size: 1em;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  color: brown;
}
.center {
	 display: block;
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 0;
  color: blue;
  margin-left: auto;
  margin-right: auto;

}

.center1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;

  font-weight: normal;
  margin-bottom: 0.3em;
  margin-top: 0.5;
  color: green;
  margin-left: auto;
  margin-right: auto;
}
.centertab {
  font-size: 1.2rem;
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}
.centertab1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.intro {
  font-family: Times, Times New Roman, serif;
  text-align: justify;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 0;
  margin-right: 1.7em;
  margin-left: 1.7em;
  color: blue;
}
.Sunto {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0;
  margin-right: 1.7em;
  margin-left: 1.7em;
  color: blue;
}
.SuntoBis {
  font-family: Times, Times New Roman, serif;
  font-style: italic;
  text-align: justify;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 0;
  margin-right: 1.7em;
  margin-left: 1.7em;
  color: blue;
}
.intro2 {
  font-family: Times, Times New Roman, serif;
  text-align: justify;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.5em;
  margin-top: 0;
}
.Index {
  font-family: Times, Times New Roman, serif;
  text-align: left;
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: 4em;
  margin-bottom: 0.5em;
  margin-top: 0;
}
.nota {
  font-family: Times, Times New Roman, serif;
  text-align: left;
  font-size: 0.9rem;
  font-weight: normal;
  margin-left: 0;
  text-indent: 0;
  margin-bottom: 0.2em;
  margin-top: 3em;
  border-top: blue solid 1px;
  padding-top: 0.1em;
  color: blue;
}
.txtnota {
  font-family: Times, Times New Roman, serif;
  text-align: left;
  font-size: 0.9rem;
  font-weight: normal;
  margin-left: 0;
  text-indent: 0;
  margin-bottom: 0;
  line-height: 0.95em;
  color: blue;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.normal {
  font-family: Times;
  font-style: normal;
  text-align: justify;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.normal_index {
  font-family: Times;
  font-style: normal;
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

hr {
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid red;
}
.Indice1{
  font-family: Times;
  font-size: 1.2rem;
  font-style: normal;
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.Indice2 {
  font-family: Times;
  font-variant: small-caps;
  font-size: 1rem;
  font-style: normal;
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0em;
  margin-bottom: 0.3em;
}


.normalDocs {
  font-family: Times;
  font-style: normal;
  text-align: justify;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}
.normal_1 {
  font-family: Times;
  font-style: normal;
  text-align: justify;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-left: 4em;
  margin-right: 0;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}
div.sgc-toc-level-1 {
  font-family: Times, Times New Roman, serif;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}
div.sgc-toc-level-2 {
  font-family: Times, Times New Roman, serif;
  font-variant: small-caps;
  font-size: 0.9rem;
  margin-left: 2em;
  margin-bottom: 0.3em;
  margin-top: 0;
}

.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}
.pT3but a:link {
  color: white;
}


.butXL {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  Text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.4em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 40%;

}
.butXL a:link {
  color: white;
}
.butXL a:visited {
  color: white;
}

.h_ref {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  margin-left: 0;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

.fixedButton {
  position: fixed;
  bottom: 15px;
  right: 2px;
  margin-bottom: 30px;
}