html {
  max-width: 60ch;
  padding: 0.5ch;
  margin: auto;
  font-size: 1em;
  hyphens: auto;
}
body {
    font-family: Times, Times New Roman, serif;
	font-size: 1.1rem;
	font-size: clamp(1.1rem, 1.1rem + 0.25vw, 1.35rem);
	font-family: "Times New Roman", serif;
	padding-left: 1px;
	padding-right: 1px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}


.omi {
/* background-color: #ffffcc;*/
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  padding-left: 1px;
  padding-right: 1px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 1em;
  margin-top: 0;
  color: black;
}

h2 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
  color: green;
}

h2.pT2 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: brown;
}

h3 {
  border-top: 2px solid blue;
  padding-top: 0.4em;
  margin-right: 3em;
  margin-left: 3em;
  color: brown;
}

hr {
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}

hr.Invit {
  border: 1px solid #bb1919;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0em;
  margin-left: 0em;
}

p {
  font-family: Times, Times New Roman, serif;
  margin-right: 0;
  margin-left: 0;
  font-size: 1.05em;
}

.Ant {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-weight: normal;
  text-indent: -1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  color: maroon;
}

.button {
  background-color: #bb1919;
  border: none;
  color: white;
  padding: 0.3em 0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.1em 0.1em;
  cursor: pointer;
  border-radius: 6px;
}

.button {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  width: 15%;
}

.buttonL {
  background-color: #bb1919;
  border: none;
  color: white;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  margin: 0.1em 0.1em;
  cursor: pointer;
  border-radius: 6px;
}

.buttonL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonL {
  width: 45%;
}

.butXL {
  font: normal 1em Times;
  background-color: orange;
  border: none;
  border-radius: 8px;
  color: white;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.2em 0.2em;
  cursor: pointer;
}

.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.butXL {
  width: 80%;
}

.dia {
  font-family: Times, Times New Roman, serif;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  text-align: center;
  color: brown;
  border-top: 4px solid green;
  padding-top: 0.5em;
}

.TipoSan {
  font-family: Times, Times New Roman, serif;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 1.3em;
  text-align: center;
  color: red;
}

.divH2TO {
  display: block;
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: 2px;
  color: #062;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.divTO {
  display: block;
  width: 85%;
  padding-bottom: 3em;
  margin: auto auto;
  color: #062;
  box-shadow: 3px 8px 28px #888;
  background: linear-gradient(to bottom right, white 50%, orange);
  margin-bottom: 1.3em;
  border-top: solid 5px;
  border-bottom: solid 5px;
  border-left: solid 5px;
  border-right: solid 5px;
  border-color: orange;
}

.fixedButtonBack {
  position: fixed;
  right: 2px;
  padding: 0;
  border: none;
  background: none;
  top: 10px;
  
}

.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}

.h_ref {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.1em;
  margin-left: 0;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
  color: blue;
}

.hMedia {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  margin-top: 1.3em;
  margin-left: -0.4em;
  margin-bottom: 0.2em;
  color: blue;
}

.hMedia::first-letter {
  font-weight: bold;
  color: red;
}

.hMediaOBien {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.2em;
  color: red;
}

.hMediaOBien::first-letter {
  font-weight: bold;
  color: blue;
}

.bullett {
  position: relative;
  line-height: 0em;
  float: left;
  margin-top: 0.24em;
  margin-bottom: 0.1em;
  padding-right: 0.3em;
  padding-left: 0em;
  font-size: 2.2em;
  font-weight: bold;
  color: red;
}

.ItRed {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  font-style: normal;
  color: red;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
}

.ItRed_San {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1em;
  font-style: normal;
  color: red;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: 0;
}

.ItRed_Links {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1em;
  font-style: normal;
  color: red;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.Lectura {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: brown;
}

.Normal {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -3.5em;
  padding: 0 0 0 4em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  color: red;
}

.OremosOL {
  font-family: Times, Times New Roman, serif;
  text-align: justify;
  font-size: 1em;
  text-indent: -1em;
  margin-top: 0;
  margin-bottom: 0.3em;
  margin-left: 1em;
  hyphens: auto;
}

.pFloat {
  float: right;
  color: red;
  font-weight: normal;
}

.Prece {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.pRight {
  font-family: Times, Times New Roman, serif;
  font-size: 0.8em;
  font-weight: normal;
  color: red;
  font-style: italic;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.pT1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.3;
  margin-top: 0.3em;
  color: red;
}

.pT2 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0;
  color: red;
}

.pT3 {
  font-family: Times, Times New Roman, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: red;
  border-top: 2px solid red;
  padding-top: 1em;
}

.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}

.pT4 {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  color: red;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0;
}

.respR {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -2em;
  margin-left: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

.respV {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -2em;
  margin-left: 2em;
  margin-top: 0.7em;
  margin-bottom: 0.1em;
}

.Rosso {
  color: red;
}

.RossoIt {
  color: red;
  font-style: italic;
}

.SalmoEtc {
  font-family: Times, Times New Roman, serif;
  font-size: 0.8em;
  font-weight: bold;
  color: red;
  margin-top: 1em;
  margin-bottom: 0;
}

.SalmoNum {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  color: red;
  margin-top: 0;
  margin-bottom: 8px;
}

.SalmoNum2 {
  font-family: Times, Times New Roman, serif;
  font-size: 0.65em;
  color: red;
  margin-top: 0;
  margin-bottom: 8px;
}

.SalmoTit {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-weight: bold;
  color: red;
  margin-top: 1em;
  margin-bottom: 0;
}

.SalmoTxt {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -11px;
  padding: 0 0 0 11px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  hyphens: none;
}

.SalmoTxtLat {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-style: italic;
  text-indent: -11px;
  padding: 0 0 0 11px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  hyphens: none;
}

.Pres {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  color: brown;
  text-indent: -22px;
  padding: 0 0 0 22px;
  margin-top: 0.5em;
  margin-left: 0em;
  margin-bottom: 0.3em;
  hyphens: none;
}

.sinNum {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  margin-left: 4em;
  color: red;
}

.TxtNorm {
  font-family: Times, Times New Roman, serif;
  text-align: justify;
  font-size: 1em;
  text-indent: 1.5em;
  margin-top: 0;
  margin-bottom: 0.3em;
  margin-left: 0;
  hyphens: auto;
}

.V_R {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -2em;
  margin-left: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.WeekDay {
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 1.1em;
  text-align: right;
  margin-top: 3em;
  margin-bottom: 1em;
}

.Year {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  font-weight: bold;
  color: red;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.button a:visited {
  color: white;
}

.buttonInv a:visited {
  color: #bb1919;
}

.pT3but a:link {
  color: white;
}

.pT3but a:visited {
  color: white;
}

.respR::first-letter {
  color: red;
}

.respV::first-letter {
  color: red;
}

.SalmoTxt::first-letter {
  font-weight: bold;
  color: red;
  margin-right: 0.05em;
}

.SalmoTxtLat::first-letter {
  font-weight: bold;
  color: red;
  margin-right: 0.05em;
}

.Pres::first-letter {
  font-weight: bold;
  color: red;
  margin-right: 0.05em;
}

.Up_but a:visited {
  color: white;
}

.V_R::first-letter {
  color: red;
}

h2.pT3 {
  font-family: Times, Times New Roman, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: brown;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pcenter {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: 0em;
}

.buttonInv {
  background-color: white;
  border: 2px solid;
  border-color: #bb1919;
  color: #bb1919;
  font-weight: bold;
  padding: 0.3em 0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 0.2em 0.2em;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.buttonInv {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonInv {
  width: 25px;
}

.UnoUno {
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 2px;
}

