@font-face {
font-family: "Merryweather";
font-style: normal;
font-weight: normal;
src : url("../Fonts/Merryweather-Black.ttf");
}
@font-face {
font-family: "Merryweather";
font-style: italic;
font-weight: normal;
src : url("../Fonts/Merryweather-BlackItalic.ttf");
}


@font-face {
font-family: "Merryweather";
font-style: normal;
font-weight: normal;
src : url("../Fonts/Merryweather-Regular.ttf");
}

@font-face {
font-family: "Merryweather";
font-style: italic;
font-weight: normal;
src : url("../Fonts/Merryweather-Italic.ttf");
}

@font-face {
font-family: "Merryweather";
font-style: normal;
font-weight: normal;
src : url("../Fonts/Merriweather-Light.ttf");
}

@font-face {
font-family: "Merryweather";
font-style: italic;
font-weight: normal;
src : url("../Fonts/Merryweather-LightItalic.ttf");
}

@font-face {
font-family: "Merryweather";
font-style: normal;
font-weight: bold;
src : url("../Fonts/Merryweather-Bold.ttf");
}

@font-face {
font-family: "Merryweather";
font-style: normal;
font-weight: normal;
src : url("../Fonts/Merryweather-BoldItalic.ttf");
}

html {
  margin: auto;
  hyphens: auto;
  max-width: 80ch;
}

body {
	font-family: "Merriweather-Regular";
	font-size: 1.2rem;
	font-size: clamp(1.1rem, 1.2rem + 0.25vw, 1.5rem);
	line-height: 140%;
	padding-left: 2%;
	padding-right: 2%;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}


a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
	
a:hover {
	color: red;
}


hr {
	border-top: 1px solid red;
	margin-top: 0em;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 0.5em;
}


h2 {
	font-family: "Merriweather-Black";
	font-size: 1.2rem;
    text-align: left;
    color: blue;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.sigue {
	font-family: "Merriweather-Black";
    text-align: right;
	font-size: 1.1rem;
    margin-right: 18px;
    margin-top: 0em;
    color: red;
}

.Poesia {
	font-family: "Merriweather-Black";
    text-align: left;
    margin-left: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    text-indent: -1.8em;
}

.Poesia2 {
	font-family: "Merriweather-Light";
    text-align: left;
    font-style: italic;
    margin-left: 1.5em;
}

.TitNormal {
	font-family: "Merriweather-Black";
    text-align: justify;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}

.NotaCarta {
	font-family: "Merriweather-LightItalic";
	font-size: 1.1rem;
	line-height: 130%;
	font-style: italic;
    text-align: justify;
    margin-left: 2.5em;
    margin-top: 0.1em;
	margin-bottom: 0.1em;
	text-indent: -1.8em;
	color: brown;


}

.num {
	font-weight: bold;
    color: brown;
}

.NormalCarta {
	font-family: "Merriweather-Regular";
    text-align: justify;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.TeresaData {
	font-style: italic;
	line-height: 130%;
	font-size: 1.15rem;
    text-align: left;
    margin-bottom: 0em;
    margin-top: 0em;
}

.TeresaDest {
	font-style: italic;
	line-height: 130%;
	font-size: 1.15rem;
    text-align: left;
    margin-bottom: 0em;
    margin-top: 0em;
}

.TeresaFirma {
	font-family: "Merriweather-Regular";
	line-height: 130%;
	font-size: 1.15rem;
	font-style: italic;
    text-align: left;
    margin-bottom: 0em;
    margin-top: 0em;
}

.Sigla {
	font-family: "Merriweather-Regular";
    text-align: right;
	font-size: 1.1rem;
    margin-bottom: 0.2em;
    margin-top: 1em;
	color: brown;
}

.CartaIntro {
	font-family: "Merriweather-Regular";
	font-style: italic;
	line-height: 130%;
    text-align: justify;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
	color: brown;
	font-size: 1.1rem;
}

.intro {
	font-family: "Merriweather-Regular";
	font-style: italic;
	line-height: 130%;
    text-align: justify;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
	color: brown;
	font-size: 1.1rem;
}

.Normal_a {
	font-family: "Merriweather-Regular";
    text-align: justify;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    margin-left: 1em;


}

.indice{
	font-family: "Merriweather-Black";
    text-align: left;
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 0.3em;
    margin-left: 1.8em;
    font-size: 1.3rem;
	color: brown;
}

.indice_a{
	font-family: "Merriweather-Black";
    text-align: left;
	text-indent: -4em;
    margin-bottom: 0em;
    margin-top: 0.5em;
	margin-left: 4em;
	color: brown;
}

.pTit {
	font-family: "Merriweather-Black";
    text-align: center;
    color: blue;
    font-size: 1.3rem;
	font-variant: small-caps;
    font-weight: normal;
    margin-bottom:10px;
    margin-top: 10px;
}

.pT1Carta {
	font-family: "Merriweather-Black";
    text-align: center;
    color: red;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom:1.2em;
    margin-top: 2em;
}

.pT2 {
	font-family: "LibreBaskerville-Regular";
    text-align: left;
    color: blue;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.pT3 {
	font-family: "Merriweather-Black";
    text-align: center;
    font-style: italic;
    color: blue;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 0.5em;
    margin-left: 1.8em;
}

.pT4 {
	font-family: "Merriweather-Black";
    text-align: center;
    color: green;
	font-size: 0.9rem;
	font-weight: bold;
	margin-bottom: 2em;
	margin-top: 1em;
}

.pT5 {
	font-family: "Merriweather-Black";
    text-align: left;
    color: brown;
    font-weight: normal;
    margin-bottom: 1px;
    margin-top: 1em;
}

.CartaPor {
	font-family: "Merriweather-Black";
    text-align: left;
    margin-left: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-indent: -1.8em;
	color: blue;
}

.Final {
	font-family: "Merriweather-Black";
    text-align: right;
    font-style: italic;
    margin-bottom: 0em;
    margin-top: 0em;
    font-size: 0.8rem;
    color: blue
}

.Subtítulo {
	font-family: "Merriweather-Black";
    text-align: justify;
	line-height: 140%;
    font-style: italic;
    margin-bottom: 1em;
    margin-top: 0em;
    font-size: 1rem;
    color: blue
}
.rif_nota {
    font-size: 0.7em;
    margin-bottom: 2em;
    margin-top: 1em;
    padding-left: 4px;
    padding-right: 2px;
	color: red;
	vertical-align: top;

}
.redCarta {
	color: red;
	font-style: normal;
	font-weight: bold;
}
	
.fixedButton {
  position: fixed;
  bottom: 15px;
  right: 2px;
  margin-bottom: 30px;
}


.perTabla {
    font-family: "Times New Roman", Times, serif;
    color: red;
    align: center;
	   }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

.butXL {
  font: normal 22px Times;
  background-color: orange;
  border: none;
  border-radius: 8px;
  color: white;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 60%;
}

.pT3but a:link {
  color: white;
}
.pT3but a:visited {
  color: white;
}
.pT3but {
  font-family: "Merriweather-Black";
  letter-spacing: 3px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 2em;
  margin-top: 0em;
  color: brown;
}
